<!doctype html>
<title>Border Crossing Wait Time Forecast - Peace Arch</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<h1>Border Crossing Wait Time Forecast - Peace Arch South Cars</h1>
  
<div class=page>  
  <div style='float:left'>  
  <h5>Enter a date ({{ form.date_min }} to {{ form.date_max }}, inclusive) <br>
   to travel cross Peace Arch border</h5>
  <form type="post">
    {{ form.date_selected(class='datepicker') }}
    {{ form.hidden_tag() }}
    <input type="submit" id="select_date" value="Show Hourly Forecast"/>
  </form>  
  <p>
  {% if form.date_selected.error %}
    <p><strong> Error: </strong></p> {{error}}
  {% else %}
      <div id="show_predictions"> </div>
  {% endif %}
  </div>   
  <img src="{{ pred_image }}" alt="Bording Crossing Wait Time Forecast" >
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script>
    $("#select_date").click(function(e){
        e.preventDefault(); // block the traditional submission of the form.
        var text = $("#datepick").val();         
        if (text=="" || text>"{{ form.date_max }}" || text<"{{ form.date_min }}"){           
            alert("Please select a date " + "{{ form.date_min }}" + " to " + "{{ form.date_max }}");
            location.reload();            
        }
        $.ajax({
          url: "{{ url_for("predictions") }}",
          type: "get",
          data: {jsdata:text},
          success: function(response) {
            $("#show_predictions").hide().html(response).fadeIn();            
          },
          error: function(err){
            console.log(err); 
          }
          
        });
    });
    </script>
  
  
</div>